@model IEnumerable<QLCuaHangVali.Models.MAUSAC>
@foreach (var item in Model)
{

    <li style="display: flex">
        <div style="width: 16px; height: 16px   ; border-radius: 50%;"></div>
        <a style="color: black" href="@Url.Action("MauSacTimKiem","TimKiem", new { id = item.mamausac})">@item.tenmausac</a>
    </li>
}
