<!DOCTYPE html>
<html>
<head>   
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("header", required: false)  
</head>
<body>
    @RenderBody()


    @RenderSection("footer", required: false)
</body>
</html>
