@model QLCuaHangVali.Models.THUONGHIEU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section header{
    <h2 style="text-align: center">Xóa thương hiệu</h2>

    <h3>Bạn có chắc chắn muốn xóa thương hiệu này không ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label >Tên thương hiệu</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tenthuonghieu)
            </dd>

            <dt>
                <label>Mô tả</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mota)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>

        }
    </div>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
}